*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(150, 93, 204);
}
.inputs{
    text-align: center;
    margin-top: 2%;
}
.team{
    width: 25%;
    height: 30px;
    text-align: center;
    font-size: 1.25em;
}
.sim-btn{
    width: 130px;
    color: white;
    padding: 4px;
    background-image: linear-gradient(to bottom, lawngreen, rgb(0, 114, 0));
    margin-top: 1%;
}
.display-score{
    display: flex;
    background-color: orange;
    opacity: 90%;
    color: white;
    padding: 2%;
    margin-top: 3%;
}
.display-score h1{
    padding-left: 25%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
    font-size: 1.45rem;
}
.restart{
    margin-top: 5%;
    height: 30px;
    width: 120px;
    margin-left: 45%;
}
.win{
    text-align: center;
    margin-top: 2%;
    color: White;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}